@import '../../styles/var.scss';
@import '../../styles/responsive.scss';

.menu {
  width: 20rem;
  padding: 0.8rem 2.4rem;
  border-right: 2px solid $bg-light;
  @include xl {
    width: max-content;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    gap: 0.8rem;
    .item-name {
      font-size: 1.2rem;
      color: $color-light;
      font-weight: 200;
      text-transform: uppercase;
      @include xl {
        display: none;
      }
    }
    .item-list {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: 0.4rem 1.2rem;
      border-radius: 7px;
      font-weight: 500;
      &:hover {
        background-color: $bg-light;
      }
      .list-title {
        @include xl {
          display: none;
        }
      }
    }
  }
}
