.topbox {
  h1 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.4rem;

      .user {
        display: flex;
        gap: 2rem;

        img {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .username {
            font-size: 1.4rem;
            font-weight: 500;
          }
          .email {
            font-size: 1.2rem;
          }
        }
      }

      .amount {
        font-weight: 500;
      }
    }
  }
}
